$header-height: 200px;
$sidebar-width: 300px;
$border-color: #aaa;
body {
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  border: 1px solid $border-color;
}
.header {
  height: $header-height;
  display: flex;
  position: relative;
  z-index: 1;

  > * {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    background-color: #fff;
  }
}
.body {
  height: calc(100% - $header-height);
  display: flex;

  > * {
    border: 1px solid $border-color;
    overflow: auto;
    background-color: #fff;
  }

  .sidebar {
    flex: 0 0 $sidebar-width;
    position: relative;
    z-index: 2;
  }
  .content {
    flex: 1 1 auto;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
